header {
    text-align: center;
    background-color: orangered;
    color: #ffffff;
    margin-bottom: 20px;
    border-radius: 8px;
}

section > article {
    background-color: #f0f0f0f0;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
}

section > header {
    text-align: center;
    background-color: #0066cc;
    color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px
}

section > footer {
    text-align: center;
    background-color: #33333;
    color: #ffffff;
    padding: 10px;
    border-radius: 8px;
}
